.lines {
  position: relative;
  padding: 55px 0 55px;

  .gradient-line {
    background: linear-gradient(90deg, rgba(204, 102, 50, 1) 0%, rgba(220, 148, 48, 1) 100%);
    height: 15px;
    width: 110vw;
    position: absolute;
    left: -5vw;

    &:first-child {
      transform: rotate(10deg);
    }
    &:last-child {
      transform: rotate(-10deg);
      top: 30px;
    }
  }
}
